flows (1).json
[{"id":"f41f8ce1.bba4b","type":"function","z":"92a2fb5a.649248","name":"","func":"global.set(\"TempHighF\",msg.payload.th)\nglobal.set(\"TempAvgF\",msg.payload.ta)\nglobal.set(\"TempLowF\",msg.payload.tl)\nglobal.set(\"DewPointHighF\",msg.payload.dph)\nglobal.set(\"DewPointAvgF\",msg.payload.dpa)\nglobal.set(\"DewPointLowF\",msg.payload.dpl)\nglobal.set(\"HumidityHighPercent\",msg.payload.hh)\nglobal.set(\"HumidityAvgPercent\",msg.payload.ha)\nglobal.set(\"HumidityLowPercent\",msg.payload.hl)\nglobal.set(\"SeaLevelPressureHighInches\",msg.payload.sh)\nglobal.set(\"SeaLevelPressureAvgInches\",msg.payload.sa)\nglobal.set(\"SeaLevelPressureLowInches\",msg.payload.sl)\nglobal.set(\"VisibilityHighMiles\",msg.payload.vh)\nglobal.set(\"VisibilityAvgMiles\",msg.payload.va)\nglobal.set(\"VisibilityLowMiles\",msg.payload.vl)\nglobal.set(\"WindHighMPH\",msg.payload.wh)\nglobal.set(\"WindAvgMPH\",msg.payload.wa)\nglobal.set(\"WindGustMPH\",msg.payload.wg)\nglobal.set(\"PrecipitationSumInches\",msg.payload.ps)\nreturn msg;","outputs":1,"noerr":0,"x":247.5,"y":140,"wires":[["b9a78a08.fb2878"]]},{"id":"b9a78a08.fb2878","type":"http request","z":"92a2fb5a.649248","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":502,"y":126,"wires":[["9f78dda5.e2829","fb63b3bb.7e8b"]]},{"id":"9f78dda5.e2829","type":"debug","z":"92a2fb5a.649248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":732,"y":125,"wires":[]},{"id":"fb63b3bb.7e8b","type":"function","z":"92a2fb5a.649248","name":"","func":"var token=msg.payload.token;\nvar th=global.get(\"TempHighF\");\nvar ta=global.get(\"TempAvgF\");\nvar tl=global.get(\"TempLowF\");\nvar sdph=global.get(\"DewPointHighF\");\nvar dpa=global.get(\"DewPointAvgF\");\nvar dpl=global.get(\"DewPointLowF\");\nvar hh=global.get(\"HumidityHighPercent\");\nvar ha=global.get(\"HumidityAvgPercent\");\nvar hl=global.get(\"HumidityLowPercent\");\nvar sh=global.get(\"SeaLevelPressureHighInches\");\nvar sa=global.get(\"SeaLevelPressureAvgInches\");\nvar sl=global.get(\"SeaLevelPressureLowInches\");\nvar vh=global.get(\"VisibilityHighMiles\");\nvar va=global.get(\"VisibilityAvgMiles\");\nvar vl=global.get(\"VisibilityLowMiles\");\nvar wh=global.get(\"WindHighMPH\");\nvar wa=global.get(\"WindAvgMPH\");\nvar wg=global.get(\"WindGustMPH\");\nvar ps=global.get(\"PrecipitationSumInches\");\nmsg.payload={\"fields\":[\"TempHighF\",\"TempAvgF\",\"TempLowF\",\"DewPointHighF\", \"DewPointAvgF\",\"DewPointLowF\",\"HumidityHighPercent\",\"HumidityAvgPercent\",\"HumidityLowPercent\",\"SeaLevelPressureHighInches\",\"SeaLevelPressureAvgInches\",\"SeaLevelPressureLowInches\",\"VisibilityHighMiles\",\"VisibilityAvgMiles\",\"VisibilityLowMiles\",\"WindHighMPH\",\"WindAvgMPH\",\"WindGustMPH\",\"PrecipitationSumInches\"],\"values\":[[th,ta,tl,sdph,dpa,dpl,hh,ha,hl,sh,sa,sl,vh,va,vl,wh,wa,wg,ps]]};\nmsg.headers={'Authorization':'Bearer'+token};\nreturn msg;","outputs":1,"noerr":0,"x":500.5,"y":321,"wires":[["88dfabda.011038","918e7f4a.ce26b"]]},{"id":"88dfabda.011038","type":"http request","z":"92a2fb5a.649248","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8bf0ed48-a44d-4b66-a53b-97aeafa84097/deployments/cd8bf6b4-f217-43fd-a243-f0fd0f52bb30/online","tls":"","proxy":"","authType":"basic","x":748,"y":322,"wires":[["8eb073fa.89f45","bea53ba1.1d2078"]]},{"id":"8eb073fa.89f45","type":"debug","z":"92a2fb5a.649248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940.5,"y":267,"wires":[]},{"id":"8fc1c155.1f6d3","type":"debug","z":"92a2fb5a.649248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1097.5,"y":525,"wires":[]},{"id":"bea53ba1.1d2078","type":"function","z":"92a2fb5a.649248","name":"","func":"msg.payload = msg.payload.values[0][1]\nvar predict \nif(msg.payload === 0){\npredict = \"Fog\"\nmsg.payload = predict\n}\nif(msg.payload == 1){\npredict = \"Fog,Rain\"\nmsg.payload = predict\n}\nif(msg.payload == 2){\npredict = \"Fog,Rain,Thunderstorm\"\nmsg.payload = predict\n}\nif(msg.payload == 3){\npredict = \"No Rain\"\nmsg.payload = predict\n}\nif(msg.payload == 4){\npredict = \"Rain\"\nmsg.payload = predict\n}\nif(msg.payload == 5){\npredict = \"Rain,Snow\"\nmsg.payload = predict\n}\nif(msg.payload == 6){\npredict = \"Rain,Thunderstorm\"\nmsg.payload = predict\n}\nif(msg.payload == 7){\npredict = \"Thunderstorm\"\nmsg.payload = predict\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":914.5,"y":382,"wires":[["5a4eead6.f9c284"]]},{"id":"49e2302d.8c0e","type":"ui_form","z":"92a2fb5a.649248","name":"","label":"","group":"94e0bdb6.06039","order":3,"width":0,"height":0,"options":[{"label":"TempHighF","value":"th","type":"number","required":true},{"label":"TempAvgF","value":"ta","type":"number","required":true},{"label":"TempLowF","value":"tl","type":"number","required":true},{"label":"DewPointHighF","value":"dph","type":"number","required":true},{"label":"DewPointAvgF","value":"dpa","type":"number","required":true},{"label":"DewPointLowF","value":"dpl","type":"number","required":true},{"label":"HumidityHighPercent","value":"hh","type":"number","required":true},{"label":"HumidityAvgPercent","value":"ha","type":"number","required":true},{"label":"HumidityLowPercent","value":"hl","type":"number","required":true},{"label":"SeaLevelPressureHighInches","value":"sh","type":"number","required":true},{"label":"SeaLevelPressureAvgInches","value":"sa","type":"number","required":true},{"label":"SeaLevelPressureLowInches","value":"sl","type":"number","required":true},{"label":"VisibilityHighMiles","value":"vh","type":"number","required":true},{"label":"VisibilityAvgMiles","value":"va","type":"number","required":true},{"label":"VisibilityLowMiles","value":"vl","type":"number","required":true},{"label":"WindHighMPH","value":"wh","type":"number","required":true},{"label":"WindAvgMPH","value":"wa","type":"number","required":true},{"label":"WindGustMPH","value":"wg","type":"number","required":true},{"label":"PrecipitationSumInches","value":"ps","type":"number","required":true}],"formValue":{"th":"","ta":"","tl":"","dph":"","dpa":"","dpl":"","hh":"","ha":"","hl":"","sh":"","sa":"","sl":"","vh":"","va":"","vl":"","wh":"","wa":"","wg":"","ps":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":99.5,"y":263,"wires":[["f41f8ce1.bba4b"]]},{"id":"5a4eead6.f9c284","type":"ui_text","z":"92a2fb5a.649248","group":"94e0bdb6.06039","order":2,"width":0,"height":0,"name":"","label":"Profit","format":"{{msg.payload}}","layout":"row-spread","x":724,"y":496,"wires":[],"icon":"font-awesome/fa-bolt"},{"id":"918e7f4a.ce26b","type":"debug","z":"92a2fb5a.649248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":592.5,"y":253,"wires":[]},{"id":"94e0bdb6.06039","type":"ui_group","z":"","name":"RainFall","tab":"5c1aad84.8718d4","disp":true,"width":"6","collapse":false},{"id":"5c1aad84.8718d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]